    /* Buttons Setup */

.btn:hover{
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, .2);
}

    /* ----- x ----- x ----- x ----- */
    /* Button Sizes                  */
    /* ----- x ----- x ----- x ----- */
 
.btn-small{
    font-size: 1.4rem;
    padding: 1rem 1rem;
    border-radius: 4rem;
}

.btn-large{
    padding: 1.6rem 3.2rem;
    border-radius: 2.8rem;
}

    /* ----- x ----- x ----- x ----- */
    /* Light Button                  */
    /* ----- x ----- x ----- x ----- */
 
.btn-light{
    background-color: rgba(var(--color-white-L), 1);
    color: rgba(var(--color-black-L), 1);
    transition: background-color .5s;
}

.btn-light:hover{
    background-color: rgba(var(--color-black-M), 1);
    color: rgba(var(--color-white-M), 1);
}

    /* ----- x ----- x ----- x ----- */
    /* Dark Button                   */
    /* ----- x ----- x ----- x ----- */
 
.btn-dark{
    background-color: rgba(var(--color-black-L), 1);
    color: rgba(var(--color-white-L), 1);
    transition: background-color .5s;
}

.btn-dark:hover{
    background-color: rgba(var(--color-white-M), 1);
    color: rgba(var(--color-black-M), 1);
}

    /* ----- x ----- x ----- x ----- */
    /* Search Button                 */
    /* ----- x ----- x ----- x ----- */

.btn-search {
    background-color: rgba(var(--color-white-L), .4);
    transition: background 0.25s;
}

.btn-search:focus-within{
    background-color: rgba(var(--color-white-L), .8);  
}

.btn-search .search-box{
    outline: none;
    border: none;
    background: transparent;
}

nav .search-icon{
    color: rgba(var(--color-black-L), 1);
}

.btn-search .search-box::placeholder{
    font-family: var(--main-font-medium);
    color: rgba(var(--color-black-M), 1);
}