*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
}

 /* Navbar Setup */ 
 
.navbar-container{
    width: 100%;
    min-height: 6vh;
    padding-inline: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #1d1d1d;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .logo{
    width: 160px;
    margin: 30px 0;
    cursor: pointer;
}

.nav{
    flex: 1;
    text-align: center;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.nav ul li a:hover{
    color: #575757;
}

 /* Hero Setup */ 

.hero-container{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 80vh;
    padding-top: 20vh;
    position: relative;
    overflow: hidden;
}

.hero-container h1{
    color: #fff;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 150px;
}

.hero-container button{
    background: #d1363a;
    cursor: pointer;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    height: 60px;
    width: 320px;
    border-radius: 40px;
    border: 0;
    outline: 0;
}

.video-bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* Summary Setup */

.content-part{
    background: #202020;
    width: 100%;
    margin: auto;

    color: #fff;
}

.content-container{
    max-width: 80%;
    min-height: 10vh;

    margin-block: 40px;
    margin-inline: 10%;

    overflow: hidden;
    display: flex;
}

.aboutus-text{
    min-width: 60%;
    padding: 5px;
}

.aboutus-text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 9vh;
}

.aboutus-text h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.25vh;
    padding-top: 10px;
    color: #d3c8c8;
}

.aboutus-image-container{
    min-width: 40%;
    min-height: 50vh;  
}

.aboutus-image-container img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

.findwhere-text{
    min-width: 60%;
    padding: 5px;
}

.findwhere-text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 9vh;
}

.findwhere-text h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.25vh;
    padding-top: 10px;
    color: #d3c8c8;
}

.findwhere-image-container{
    min-width: 40%;
    min-height: 50vh;  
}

.findwhere-image-container img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

/* Footer Setup */
.f_container{
    max-width: 86%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.f_col {
    width: 25%;
    padding:  0 15px;
}

.f_col h4{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.f_col ul{
    list-style: none;
}

.f_col ul li:not(:last-child){
    margin-bottom: 7px;
}

.f_col ul li a{
    text-transform: capitalize;
    color: #403f3e;
    text-decoration: none;
}

.f_col ul li a:hover{
    text-transform: capitalize;
    color: #fff;
}

.f_backtext{
    font-size: 20px;
}

.f_col .logo{
    width: 250px;
    cursor: pointer;
}

.footer{
    background-color: #1a1818;
    padding: 25px 0;
}

/* Reesponsive Website Setup */

/* Laptop */
@media (max-width: 1024px) {
    /* Content */
    
    .aboutus-image-container{
        display: none;
    }
    
    .findwhere-image-container{
        display: none;
    }

    /* Footer */
    .f_col .logo{
        width: 200px;
    }
}

@media only screen and (max-width:768px){
    /* NavBar */
    
    .nav ul{
        width: 100%;
        background-color: #1d1d1d;
        position: absolute;
        top: 65px;
        right: 0;
        z-index: 2;
    }

    .nav ul li{
        list-style: none;
        display: flexbox;
        margin-right: 0px;
        align-items: center;
    }

    .navbar .logo{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 160px;
        margin: 20px 0;
    }

    .nav ul li:not(:last-child){
        margin-right: 30px;
    }

    /* Hero */

    .hero-container{
        min-height: 50vh;
        padding-top: 10vh;
    }
    
    .hero-container h1{
        padding-bottom: 5vh;
        font-size: 75px;
    }
    
    .hero-container button{
        font-size: 20px;
        height: 50px;
        width: 280px;
    }

    /* Content */
    .content-container{
        max-width: 100%;
        margin-inline: 0%;
    }
    
    .aboutus-text h1{
        font-size: 6vh;
    }
    
    .aboutus-text h4{
        font-size: 2vh;
    }
    
    .aboutus-image-container{
        display: none;
    }
    
    .findwhere-text h1{
        font-size: 6vh;
    }
    
    .findwhere-text h4{
        font-size: 2vh;
    }
    
    .findwhere-image-container{
        display: none;
    }

    /* Footer */
    .f_col{
        width: 100%;
        margin-bottom: 30px;
    }

    .f_col .logo{
        width: 200px;
    }
}